# Backend
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5433/conciliacao_bancaria
UPLOAD_DIR=storage/uploads
BACKEND_CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# PostgreSQL (Docker)
POSTGRES_DB=conciliacao_bancaria
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
